__pycache__
.pytest_cache
docs/build
GramophoneTools.egg-info
build
dist
TESTBED.py
.vscode
docs/source/user_guide/*.synctex.gz
docs/source/user_guide/*.aux
docs/source/user_guide/*.log
docs/source/user_guide/*.out
docs/source/user_guide/*.toc
docs/source/user_guide/*.dvi
upload.log
upload.bat
